.content-info {
  @extend .section;
  background: $gray-300;
}

// footer start ------------------->
footer {  
  ul, li {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  h1, h2, h3, p {
    margin: 0;
    padding: 0;
  }
  background-color: #d3d3d3;
  height: auto;
  min-height: 384px;
  padding-top: 55px;
  @include laptop {    
    height: 1px;
  }
  .content-wrapper {
    height: auto;
    padding-bottom: 40px;
    @include laptop { 
      height: 100%;
      padding-bottom: 0;
    }
  }
  .logo-container {   
    display: block; 
    width: 236px;
    height: 83px;
    background-image: url('../images/logo-white.png');
    background-position: top left;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: relative;
    @include laptop {      
      display: inline-block;
      height: 100%;
    }
    &>a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
  .contact-us-container {
    display: block;
    height: 100%;
    color: #4b4b4b;
    margin-left: 0;
    @include tablet {  
      display: inline-block;
      vertical-align: top;
    }  
    @include laptop {      
      margin-left: 75px;
    }
    .title {
      color: #4b4b4b;
      font-weight: bold;
      font-size: 22px;
      margin-bottom: 33px;
    }
    .address-container {
      p {        
        font-size: 20px;
        line-height: 33px;
      }
      .email {
        display: inline-block;
        border-bottom: 1px solid #4b4b4b;
        line-height: 25px;
        &>a {
          &:hover {
            border-color: #4b4b4b;
            color: #4b4b4b;
          }
        }
      }
    }
  }
  .footer-menu-container {
    vertical-align: top;
    display: inline-block;
    height: 100%;
    @include tablet {      
      margin-left: 75px;
    }
    .menu {
      .menu-item {
        margin-bottom: 30px;
        list-style-type: none;
        &>a {
          color: #4b4b4b;
          font-size: 22px;
          font-weight: bold;
        }
      }
    }
  }
  .footer-social-links-container {
    vertical-align: top;
    display: inline-block;
    height: 100%;  
    margin-left: 75px;
    .social-links {
      .social-links-item {
        margin-bottom: 30px;
        list-style-type: none;
        &>a {          
          color: #4b4b4b;
          font-size: 22px;
          font-weight: bold;
        }
      }
    }
  }
  .footer-social-links-container,
  .footer-menu-container,
  .contact-us-container {
    padding-top: 30px;
  }
}
// footer end ------------------->