// header start ------------------->
header {
    min-height: 160px;
    display: flex;
    align-items: center;
    position: relative;
    .content-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo-container {
        display: flex;
        align-items: center;
        .logo {
          width: 260px;
          height: 90px;
          display: inline-block;
          margin-right: 20px;
          background-image: url('../images/logo-default.png');
          background-position: top left;
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }
        .slogan {
          display: none;
          @include tablet {
            display: inline-block;
            color: #818486;
            padding-left: 20px;
            border-left: 1px solid #818486;
            font-size: 14px;
          }
          @include laptop {
            font-size: 16px;
          }
        }
      }
      .menu-button {
        color: #f68a2e;
        cursor: pointer;
        .ico {
          font-size: 20px;
        }
      }
    }
    .menu-block {
      display: none;
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      background-color: #cfcfcf;
      width: 280px;
      height: 400px;
      padding: 80px 89px 0 0;
      @include tablet {        
        width: 430px;
        height: 635px;
        padding: 180px 154px 0 0;
      }
      @include laptop {        
        width: 430px;
        height: 735px;
        padding: 180px 154px 0 0;
      }
      .menu-block-close-btn {
        font-size: 28px;
        position: absolute;
        color: #fff;
        cursor: pointer;
        top: 22px;
        right: 30px;
        @include tablet {          
          top: 80px;
          right: 150px;
        }
      }
      .menu-item {
        text-align: right;
        color: #fff;
        cursor: pointer;
        font-size: 20px;
        margin-bottom: 22px;
        @include tablet {
          font-size: 30px;
          margin-bottom: 27px;

        }
        @include laptop {
          font-size: 30px;
          margin-bottom: 42px;
        }
      }
    }
  }
  // header end ------------------->