/**
 * Pages
 *
 * Summary:
 *
 *  0. Default Page
*/

/* ==========================================================================
   0. Default Page
   ========================================================================== */
.page {
  section.content {
    @extend .section;
  }
}

// first-section start ------------------->
.first-section {
  background-image: url('../images/sample-image.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 61vw;
  position: relative;
  .content {
    display: inline-block;
    width: 78%;
    min-height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    padding: 107px 0 78px 9.5vw;
    color: #f68a2e;
    font-size: 118px;
    font-weight: normal;
    line-height: 102px;
    &>span {
      font-weight: bold;
    }
  }
}
// first-section end ------------------->

// testimonials-section start ---------------->
.testimonials-section {
  margin-top: 64px;
  color: #fff;
  .content-wrapper {
    .container {
      background-color: #6ab348;
      padding: 65px 130px 70px;
      .title {
        text-align: center;
        font-weight: 100;
        font-size: 65px;
        margin-bottom: 42px;
      }
      .content {
        font-size: 39px;
        font-weight: 100;
        margin-bottom: 60px;
      }
      .author-container {
        margin-bottom: 20px;
        .author {
          font-size: 39px;
          font-weight: 100;
        }
        .position {
          font-size: 39px;
          font-weight: 100;
          font-style: italic;
        }
      }
    }
  }
}
// testimonials-section end --------------------?

// select-clients-section start ---------------->
.select-clients-section {
  margin-top: 85px;
  .content-wrapper {
    .title {
      text-align: center;
      font-weight: 100;
      font-size: 65px;
      margin-bottom: 36px;
    }
  }
}
// select-clients-section end --------------------?

// insight-from-section start ---------------->
.insight-from-section {
  margin-top: 85px;
  .content-wrapper {
    .title {
      text-align: center;
      font-weight: 100;
      font-size: 65px;
      margin-bottom: 36px;
    }
  }
}
// insight-from-section end --------------------?