/**
 * Pages
 *
 * Summary:
 *
 *  0. Default Page
*/

/* ==========================================================================
   0. Default Page
   ========================================================================== */
.page {
  section.content {
    @extend .section;
  }
}


.backing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #474e52, $alpha: 0.4);
}
.title {
  position: relative;
  z-index: 1;
}
.cards-title {
  position: relative;
  z-index: 1;
  font-size: 30px;
  line-height: 40px;
  font-weight: 100;
  @include laptop {
    font-size: 40px;
    line-height: 50px;
  }
}
// @for $i from 0 through 100 {
//   @media (min-width: 1200px+($i * 8)) {
//     .cards-title {
//       $size: 120px + ($i );  
//       font-size: $size;
//     }
//   }
// }
.card-item {  
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 7%;
}

// first-section start ------------------->
.first-section {
  background-image: url('../images/sample-image.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 61vw;
  position: relative;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    padding: 0 20px 0 6.5vw;
    color: $spiralgroup-orange;
    font-weight: normal;
    padding: 0 3vw 0 6.5vw;
    font-size: 7.1vw;
    
    &>span {
      font-weight: bold;
      // display: block;
    }
  }
}
// first-section end ------------------->


// we-make start ----------------------->
.we-make-section {
  margin-top: 70px;
  .content-wrapper {
    min-height: 33vw;
    height: 534px;
    .column-1,
    .column-2,
    .column-3 {
      color: #fff;
      display: inline-block;
      height: 100%;
      vertical-align: top;
      float: left;
    }
    .column-margin {
      display: inline-block;
      height: 100%;
      width: 1.6%;
      float: left;
    }
    .column-1 {
      width: 27.6%;
      .row-1,
      .row-2 {
        height: 48.5%; //48%;
        background-color: rgba($color: $gray-600, $alpha: 0.7);
        padding: 0 10%;
        position: relative;
      }
      .row-margin {
        height: 3%;
      }
      .row-1 {
        // margin-bottom: 6%;   
        background-position: top left;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url('../images/sample-image.jpg');
        position: relative;
      }
      .row-2 {   
        background-position: top left;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url('../images/sample-image.jpg');
        position: relative;        
      }
    }
    .column-2 {
      width: 47.9%;
      background-color: $spiralgroup-teal;
      padding: 5%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .column-title {
        font-size: 54px;
        font-weight: 100;
        line-height: 68px;
        &>span {
          font-weight: bold;
        }
      }
      .column-description {
        font-size: 22px;
        line-height: 30px;
        font-weight: 100;
        margin-top: 20px;
      }
    }
    .column-3 {
      width: 21.3%;
      background-color: rgba($color: $gray-600, $alpha: 0.7);      
      background-position: top left;
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-image: url('../images/sample-image.jpg');
      cursor: pointer;
      position: relative;
    }
  }
}
// we-make end ----------------------->

// grounded-in start ----------------------->
.grounded-in-section {
  margin-top: 70px;
  .content-wrapper {
    @include laptop {
      min-height: 50vw;
      height: 1px;
    }
    .column-1,
    .column-2 {
      color: #fff;
      display: block;
      @include laptop {
        display: inline-block;
        float: left;
        width: 49.2%;
        min-height: 100%;
        vertical-align: top;
        height: 1px;
      }
    }
    .column-margin {
      display: inline-block;
      height: 100%;
      width: 1.6%;
      float: left;      
      position: relative;
    }
    .column-1 {    
      margin-bottom: 4%;
      height: 80vw;
      @include laptop {
        margin: 0;
        min-height: 100%;
        height: 1px;
      }
      .row-1 {
        margin-bottom: 4%;
        height: 40.5%;
        @include laptop {          
          height: 30.5%;
        }
        .sub-column-1,
        .sub-column-2 {
          height: 100%;
          float: left;
          background-color: $spiralgroup-teal;
          width: 48%;
          font-size: 44px;
          font-weight: 100;
          line-height: 60px;
          position: relative;
        }
        .sub-column-1 {          
          background-position: top left;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-image: url('../images/sample-image.jpg');
        }
        .sub-column-2 {          
          background-position: top left;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-image: url('../images/sample-image.jpg');
        }
        .sub-column-margin {      
          display: block;
          float: left;
          width: 4%;
          height: 1px;
          @include laptop {
            height: 100%;
          }
        }
      }
      .row-2 {
        background-color: $spiralgroup-green;
        height: 55.5%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 10%;
        @include laptop {
          height: 66.5%;
        }
        .title {
          font-size: 54px;
          font-weight: 100;
          line-height: 68px;
          &>span {
            font-weight: bold;
          }
        }
        .description {
          font-weight: 100;
          font-size: 22px;
          line-height: 30px;
          margin-top: 20px;
        }
      }
    }
    .column-2 {
      display: block;
      height: 100vw;
      @include laptop {
        min-height: 100%;
        height: 1px;
      }
      .row-1 {
        height: 50%;
        @include laptop {
          margin-bottom: 4%;
          height: 58.5%;
        }
        .sub-column-1,
        .sub-column-2 {
          height: 100%;
          float: left;
          background-color: $spiralgroup-teal;
          width: 48%;
          position: relative;
          background-position: top center;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          @include laptop {
            background-size: auto 100%;
          }
        }
        .sub-column-1 {
          background-image: url('../images/sample-image.jpg');
        }
        .sub-column-2 {
          background-image: url('../images/sample-image.jpg');
        }
        .sub-column-margin {
          float: left;
          width: 4%;
          height: 100%;
        }
      }
      .row-2 { 
        margin-top: 4%;
        height: 46%;    
        background-color: $spiralgroup-teal;
        background-position: top left;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url('../images/sample-image.jpg');
        position: relative;
        @include laptop {    
          margin-top: 0;      
          height: 38.5%;
        }
      }
    }
  }
}
// grounded-in end ----------------------->

// play-video start ----------------->
.play-video-section {
  margin-top: 70px;
  .content-wrapper {
    min-height: 45vw;
    background-position: top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('../images/sample-image.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .ico {
      color: #fff;
      font-size: 12vw;
      cursor: pointer;
      position: relative;
      z-index: 1;
    }
  }
}
// play-video end ----------------->

// testimonials-section start ---------------->
.testimonials-section {
  margin-top: 64px;
  color: #fff;
  .content-wrapper {
    .custom-container  {
      background-color: $spiralgroup-green;
      padding: 25px 15px 20px;
      @include tablet {
        padding: 55px 40px 50px;
      }
      @include laptop {
        padding: 65px 130px 70px;
      }
      .title {
        text-align: center;
        font-weight: 100;
        font-size: 25px;
        margin-bottom: 10px;
        @include tablet {          
          font-size: 45px;
          margin-bottom: 35px;
        }
        @include laptop {
          font-size: 65px;
          margin-bottom: 42px;
        }
      }
      .content {
        font-weight: 100;
        font-size: 16px;
        margin-bottom: 15px;
        @include tablet {
          font-size: 29px;
          margin-bottom: 45px;
        }
        @include laptop {
          font-size: 39px;
          margin-bottom: 60px;
          
        }
      }
      .author-container {
        font-weight: 100;
        margin-bottom: 5px;
        font-size: 19px;
        @include tablet {
          margin-bottom: 15px;
          font-size: 29px;
        }
        @include laptop {
          font-size: 39px;
          margin-bottom: 20px;          
        }
        .author {
        }
        .position {
          font-style: italic;
        }
      }
    }
  }
}
// testimonials-section end --------------------?

// select-clients-section start ---------------->
.select-clients-section {
  margin-top: 85px;
  .content-wrapper {
    min-height: 81vw;
    .title {
      text-align: center;
      font-weight: 100;
      font-size: 30px;
      margin-bottom: 22px;
      @include laptop {        
        font-size: 65px;
        margin-bottom: 36px;
      }
    }
    .clients-list {      
      min-height: 81vw;
      height: 1px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .clients-row {
        height: 32%;
        display: flex;
        justify-content: space-between;
        .clients-item {
          background-color: $gray-200;
          height: 100%;
          width: 32%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
// select-clients-section end --------------------?

// insight-from-section start ---------------->
.insight-from-section {
  margin-top: 85px;
  margin-bottom: 90px;
  .content-wrapper {
    .title {
      text-align: center;
      font-weight: 100;
      font-size: 30px;
      margin-bottom: 22px;
      @include laptop {        
        font-size: 65px;
        margin-bottom: 36px;
      }
    }
    .insight-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      @include laptop {
        flex-wrap: nowrap;
      }
      .insight-item {    
        width: 100%;
        height: 54vw;      
        margin-bottom: 20px;  
        background-position: top left;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url('../images/sample-image.jpg');
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #fff;
        transition: 0.2s;
        padding: 5%;
        cursor: pointer;
        position: relative;
        @include tablet {            
          width: 48.5%;
          height: 27vw;  
          margin-bottom: 3%;  
        }
        @include laptop {
          width: 23.5%;
          height: 13vw;   
          margin-bottom: 0;
        }
        &:hover {
          .title {
            display: block;
          }
          .backing {
            display: block;
          }
        }
        .title {
          position: relative;
          z-index: 1;
          font-weight: normal;
          font-size: 27px;
          text-align: left;
          @include laptop {            
            display: none;
          }
        }
        .backing {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;          
          background-color: rgba($color: #474e52, $alpha: 0.3);
          @include laptop {            
            display: none;
          }
        }
      }
    }
  }
}
// insight-from-section end --------------------?