/**
 * Pages
 *
 * Summary:
 *
 *  0. Page Builder
 *  - 0.1 Section "Content"
 *  - 0.2 Image + Content Blocks
 *  - 0.3 Video
 *  - 0.4 Testimonials
 *  - 0.5 Clients
 *  - 0.6 Insights
 *  1. Default Page
*/

/* ==========================================================================
   0. Page Builder
   ========================================================================== */

  .header-image--size {
        width: 200%;
        @include mobile {
          height: 15%;
          width: 15%;
        }
        @include large-mobile {
        }
        @include tablet {
        }
        @include laptop {
        }
        @include large-laptop {
        }
        @include retina-laptop {
        }
   }

  /* 0.1 Section "Content"
   ========================================================================== */
  .section.content {

  }

  /* 0.2 Section "Image + Content Blocks"
   ========================================================================== */
  .section.content {

  }

.grid {
  margin: 0 auto;
}

.grid-item {
  float: left;
  width: $grid-item-width;
  height: $grid-item-height;
  margin-top: 0px;
  margin-bottom: 0px;
  &:hover {
    .backing,
    .cards-title {
      opacity: 0;
    }
  }
        @include mobile {
          width: $grid-item-width * 0.73;
          height: $grid-item-width * 0.73;
          margin-top: 5px;
          margin-bottom: 5px;
        }
        @include large-mobile {
        }
        @include tablet {
          width: $grid-item-width * 0.88;
          height: $grid-item-width * 0.88;
          margin-top: 5px;
          margin-bottom: 5px;
          margin-left: 5px;
          margin-right: 5px;
        }
        @include tablet-landscape {
          width: $grid-item-width * 0.58;
          height: $grid-item-width * 0.58;
          margin-top: 0px;
          margin-bottom: 0px;
          margin-left: 0px;
          margin-right: 0px;
        }
        @include laptop {
          width: $grid-item-width * 0.63;
          height: $grid-item-height * 0.63;
        }
        @include large-laptop {
          width: $grid-item-width;
          height: $grid-item-width;
          margin-top: 0px;
          margin-bottom: 0px;
          margin-left: 0px;
          margin-right: 0px;
        }
        @include retina-laptop {
        }
}

.grid-smaller-item {
  width: $grid-item-width - 20px;
  height: $grid-item-height - 20px;
  margin: $grid-item-mh $grid-item-mw;
    @include mobile {
          height: $grid-item-width * 0.73;
          width: $grid-item-width * 0.73;       
          background-position: 50% 50%;
          background-repeat: no-repeat;
          margin: 0;
        }
        @include large-mobile {
        }
        @include tablet {
          height: $grid-item-width * 0.88;
          width: $grid-item-width * 0.88;       
          background-position: 50% 50%;
          background-repeat: no-repeat;
          margin: 0;
        }
        @include tablet-landscape {
          height: $grid-item-width * 0.58 - 5px;
          width: $grid-item-width * 0.58 - 5px;       
          background-position: 50% 50%;
          background-repeat: no-repeat;
          margin: 0;
        }
        @include laptop {
          width: $grid-item-width * 0.63 - 10px;
          height: $grid-item-height * 0.63 - 10px;
          margin: 0;
        }
        @include large-laptop {
          height: $grid-item-width - 20px;
          width: $grid-item-width - 20px; 
          margin: 0;
        }
}

.grid-item--width2 { width: $grid-item-width * 2;
       @include mobile {
          width: $grid-item-width * 0.73;
        }
        @include large-mobile {
        }
        @include tablet {
          width: $grid-item-width * 0.88;
        }
        @include tablet-landscape {
          width: $grid-item-width * 1.16;
        }
        @include laptop {
          width: $grid-item-width * 1.26;
        }
        @include large-laptop {
          width: $grid-item-width * 2;
        }
 }
.grid-item--height2 { height: $grid-item-height * 2;
     @include mobile {
          height: $grid-item-width * 0.73;
        }
        @include large-mobile { 
        }
        @include tablet {
          height: $grid-item-height * 0.88;       
        }
        @include tablet-landscape {
          height: $grid-item-height * 1.16;
        }
        @include laptop {
          height: $grid-item-height * 1.26;
        }
        @include large-laptop {
          height: $grid-item-height * 2;
        }
 }

.grid-smaller-item--width2 { width: $grid-item-width * 2 - $grid-item-mh * 2;
        @include mobile {
          width: $grid-item-width * 0.73;
        }
        @include large-mobile {
        }
        @include tablet {
          width: $grid-item-width * 0.88;
        }
        @include tablet-landscape {
          width: $grid-item-width * 1.16 - 5px;
        }
        @include laptop {
          width: $grid-item-width * 1.26 - 10px;
        }
        @include large-laptop {
          width: $grid-item-width * 2 - $grid-item-mh * 2;
        }
 }
.grid-smaller-item--height2 { height: $grid-item-height * 2 - $grid-item-mh * 2; 
        @include mobile {
          height: $grid-item-width * 0.73;
        }
        @include large-mobile {
        }
        @include tablet {
          height: $grid-item-height * 0.88;
        }
        @include tablet-landscape {
          height: $grid-item-height * 1.16 - 5px;
        }
        @include laptop {
          height: $grid-item-height * 1.26 - 10px;
        }
        @include large-laptop {
          height: $grid-item-width * 2 - $grid-item-mh * 2;
        }
}

  /* 0.3 Section "Video"
   ========================================================================== */
  .section.content {

  }

  /* 0.4 Section "Testimonials"
   ========================================================================== */
  .section.content {

  }

  /* 0.5 Section "Clients"
   ========================================================================== */
  .section.content {

  }

  /* 0.6 Section "Insights"
   ========================================================================== */
  .section.content {

  }        

/* ==========================================================================
   1. Default Page
   ========================================================================== */
.page {
  section.content {
    @extend .section;
  }
}


.backing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #474e52, $alpha: 0.4);
}
.title {
  position: relative;
  z-index: 1;
}
.cards-title {
  color: #fff;
  position: relative;
  z-index: 1;
  font-size: 6vw;
  line-height: 1.25;
  font-weight: 100;
  @include tablet {
    font-size: 2.8vw;
  }
  padding: 3vw 2vw;
}
.card-transition-efects {
  transition: $transition-time;
}


// first-section start ------------------->
.first-section {
  background-image: url('../images/sample-image.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 61vw;
  position: relative;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 55%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    color: $spiralgroup-orange;
    font-weight: normal;
    padding: 0 3vw 0 6.5vw;
    width: 85vw;
    @include laptop {
      width: 75vw;
    }
    .main-title {
      font-size: 8.1vw;  
      line-height: 0.9;   
      @include laptop {
        font-size: 7.1vw;
      } 
      &>span {
        font-weight: bold;
        // display: block;
      }

    }
    .our-clients-container {
      border-left: 0.3vw solid $spiralgroup-orange;
      padding-left: 0.5vw;
      margin-left: 0.5vw;    
      margin-top: 1vw;
      .our-clients-title {
        font-size: 3.1vw; 
        font-weight: 100; 
        @include laptop {          
          font-size: 2.1vw; 
        }
      }
      .our-clients-logo-list {
        background-repeat: no-repeat;
        background-position: top left;
        background-size: auto 100%;
        height: 4.7vw;
        margin-top: 0.2vw;
        @include laptop {          
          height: 3.7vw;
          margin-top: 0.2vw;
        }
      }
    }
  }
}
// first-section end ------------------->


// we-make start ----------------------->
.we-make-section {
  @extend .delete-default-paddings;
  @include tablet {
  }
  .content-wrapper {
    min-height: 33vw;
    @include tablet {
      height: 100%;
    }
    // .column-2.we-make {
    //   width: 100%;
    //   height: 60vw;
    //   background-color: $spiralgroup-teal;
    //   padding: 5%;
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   margin-bottom: 20px;
    //   @include tablet {
    //     height: 100%;
    //     width: 47.9%;
    //     margin-bottom: 0;
    //   }
    //   &:hover {
    //     background-color: $spiralgroup-green;
    //   }
    //   .column-title {
    //     font-size: 8.4vw;
    //     font-weight: 100;
    //     line-height: 1.25;
    //     @include tablet {          
    //       font-size: 3.6vw;
    //     }
    //     &>span {
    //       font-weight: bold;
    //     }
    //   }
    //   .column-description {
    //     font-size: 4.5vw;
    //     line-height: 1.36;
    //     font-weight: 100;
    //     margin-top: 4vw;
    //     @include tablet {  
    //       margin-top: 2vw;        
    //       font-size: 1.5vw;
    //     }
    //   }
    // }

  }
}
// we-make end ----------------------->

// grounded-in start ----------------------->

      // .row-2.grounded {
      //   background-color: $spiralgroup-green;
      //   height: 55.5%;
      //   position: relative;
      //   display: flex;
      //   flex-direction: column;
      //   justify-content: center;
      //   padding: 0 10%;
      //   @include laptop {
      //     height: 66.5%;
      //   }
      //   &:hover {
      //     background-color: $spiralgroup-orange;
      //   }
      //   .title {
      //     font-size: 6.5vw;
      //     font-weight: 100;
      //     line-height: 1.25;
      //     @include tablet {            
      //       font-size: 6vw;
      //     }
      //     @include laptop {            
      //       font-size: 4vw;
      //     }
      //     &>span {
      //       font-weight: bold;
      //     }
      //   }
      //   .description {
      //     font-weight: 100;
      //     font-size: 3.5vw;
      //     line-height: 1.35;
      //     margin-top: 20px;
      //     @include laptop {            
      //       font-size: 1.5vw;
      //     }
      //   }
      // }

// grounded-in end ----------------------->

// play-video start ----------------->
.play-video-section {
  .content-wrapper {
    min-height: 45vw;
    background-position: top left;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('../images/sample-image.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    *>a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .backing {
      background-color: rgba($color: $spiralgroup-orange, $alpha: 0.5);
    }
    .ico {
      color: #fff;
      font-size: 12vw;
      cursor: pointer;
      position: relative;
      z-index: 1;
    }
  }
}
// play-video end ----------------->

// testimonials-section start ---------------->
.testimonials-section {
  color: #fff;
  .content-wrapper {
    .custom-container  {
      background-color: $spiralgroup-green;
      padding: 5vw 5vw 5vw;
      @include tablet {
        padding: 3.7vw 10% 3.7vw;
      }
      .title {
        text-align: center;
        font-weight: 100;
        font-size: 7.5vw;
        margin-bottom: 1vw;
        @include tablet {
          font-size: 4.5vw;
          margin-bottom: 1vw;
        }
      }
      .content {
        font-weight: 100;
        font-size: 4.4vw;
        line-height: 1.3; 
        margin-bottom: 3vw;
        @include tablet {
          line-height: 1.1;
          font-size: 2.4vw;    
          margin-bottom: 3vw;
        }
      }      
      .swiper-slider {
        overflow: hidden;
      }
      .author-container {
        font-weight: 100;
        font-size: 4.4vw;
        margin-bottom: 20px; 
        line-height: 1.2;     
        @include tablet {
          font-size: 2.4vw;
          margin-bottom: 20px;      
        }
        .author {
        }
        .position {
          font-style: italic;
        }
        .logo {
          margin-top: 1.5vw;
          height: 5.5vw;
          background-repeat: no-repeat;
          background-position: top left;
          background-size: auto 100%;
          background-image: url("../images/agency-managment.png");
          @include tablet {            
            height: 3vw;
          }
        }
        > img {
          width: 15%;
        }
      }
    }
  }
}
// testimonials-section end --------------------?

// select-clients-section start ---------------->
.select-clients-section {
  .content-wrapper {
    height: 100%;
    min-height: 100%;
    .title {
      text-align: center;
      font-weight: 100;
      font-size: 30px;
      margin-bottom: 22px;
      @include laptop {        
        font-size: 65px;
        margin-bottom: 36px;
      }
    }
    .clients-list { 
      height: 100% !important;
      min-height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
 
      .clients-item {
        margin-bottom: 5%;
        background-color: #e1e1e1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        transition: $transition-time;
        height: 78vw;
        width: 100%;
        margin-bottom: 20px;
        @include mobile {
          height: 280px;
          width: 280px;
        }
        @include large-mobile {
          height: 360px;
          width: 360px;
        }
        @include tablet {
          height: 320px;
          width: 320px;
        }
        @include laptop {
          height: 300px;
          width: 300px;
        }
        @include large-laptop {
          height: 430px;
          width: 430px;
        }
        @include retina-laptop {
          height: 660px;
          width: 660px;
        }
        &:hover,
        &:active {
          .hover-description {
            display: flex;
          }
        }
        .company-logo {
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: auto auto;
        }
        .hover-description {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: $spiralgroup-teal;
          color: #fff;
          font-weight: 100;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .value {
            font-size: 10vw;
            line-height: 1;
            @include tablet {              
              font-size: 3vw;    
              line-height: 1;
            }
          }
          .desc {
            font-size: 3.4vw;
            margin-bottom: 5vw;
            @include tablet {  
              font-size: 1.4vw;
              margin-bottom: 1vw;
            }
          }
        }
      }
    }
  }
}
// select-clients-section end --------------------?

// insight-from-section start ---------------->
.insight-from-section {
  @include tablet {
  }
  .content-wrapper {
    .title {
      text-align: center;
      font-weight: 100;
      font-size: 30px;
      margin-bottom: 22px;
      @include laptop {        
        font-size: 65px;
        margin-bottom: 36px;
      }
    }
    .insight-list {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      @include laptop {
        flex-wrap: nowrap;
      }
      .insight-item {    
        width: 100%;
        height: 54vw;      
        margin-bottom: 20px;  
        background-position: top left;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url('../images/sample-image.jpg');
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #fff;
        transition: $transition-time;
        padding: 5%;
        cursor: pointer;
        position: relative;
        @include tablet {            
          width: 48.5%;
          height: 27vw;  
          margin-bottom: 3%;  
        }
        @include laptop {
          width: 23.5%;
          height: 13vw;   
          margin-bottom: 0;
          padding: 3%;
        }
        &:hover {
          .title {
            display: block;
          }
          .backing {
            display: block;
          }
        }
        .title {
          position: relative;
          z-index: 1;
          font-weight: 100; // normal;
          font-size: 27px;
          text-align: left;
          margin: 0;
          @include laptop {            
            display: none;
          }
        }
        .backing {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;          
          background-color: rgba($color: #474e52, $alpha: 0.3);
          @include laptop {            
            display: none;
          }
        }
      }
    }
  }
}
// insight-from-section end --------------------?


// article-section start -------------------->
.article-section {
  .content-wrapper {
    font-weight: 100;    
    margin-top: 30px;
    margin-bottom: 40px;
    @include tablet {
      margin-top: 50px;
      margin-bottom: 74px;
    }
    @include laptop {
      margin-top: 60px;
      margin-bottom: 84px;
    }
    h2 {
      line-height: 1.0;
      font-size: 28px;
      margin-bottom: 16px;
      @include tablet {
        font-size: 50px;
        margin-bottom: 30px;
      }
      @include laptop {
        font-size: 65px;
        margin-bottom: 45px;
      }
      &>span {
        font-weight: bold;
      }
    }
    h3 {
      line-height: 1.0;
      font-size: 24px;
      margin-bottom: 16px;
      @include tablet {
        font-size: 38px;
        margin-bottom: 37px;
      }
      @include laptop {
        font-size: 45px;
        margin-bottom: 60px;
      }

    }
    h4, h5, h6 {
      line-height: 1.0;
      font-size: 22px;
      margin-bottom: 12px;
      @include tablet {
        font-size: 30px;
        margin-bottom: 38px;
      }
      @include laptop {
        font-size: 36px;
        margin-bottom: 50px;
      }

    }
    .content-desc {
      font-size: 16px;
      @include tablet {
        font-size: 24px;
      }
      @include laptop {
        font-size: 27px;
      }
      &>p {             
        margin-bottom: 10px;
        @include tablet {
          margin-bottom: 20px;
        } 
        @include laptop {
          margin-bottom: 30px;
        }
      }
    }
  }
}

// article-section end -------------------->

h2.entry-title {
  @include mobile {
    font-size: 2rem;
  }
}